<div class="topbar">
    <div class="container">
        <div class="topbar-content">
            <div class="brand">
                <a href="/">
                    <span>Ryan</span>YJL
                </a>
            </div>
            <div class="menu-container">
                <div class="menu clearfix">
                    {% assign blog = 1 %}
                    {% if page.title == 'Play' or page.title == 'Portfolio' or page.title == 'Pinboard' or page.title == 'About' or page.title == 'Archive' %}
                    {% assign blog = 0 %}
                    {% endif %}
                    <!--<div><a class="{% if page.category == 'everything' %}active{% endif %}" href="{{ site.url }}/category/everything/">Everything</a></div>-->
                    <div><a class="{% if blog == 1 %}active{% endif %}" href="{{ site.url }}/category/web/">Web</a></div>
                    <div><a class="{% if page.title == 'Play' %}active{% endif %}" href="{{ site.url }}/play/">Play</a></div>
                    <div><a class="{% if page.title == 'Portfolio' %}active{% endif %}" href="{{ site.url }}/portfolio/">Portfolio</a></div>
                    <div><a class="{% if page.title == 'Pinboard' %}active{% endif %}" href="{{ site.url }}/pinboard/">Pinboard</a></div>
                    <div><a class="{% if page.title == 'Archive' %} active{% endif %}" href="{{ site.url }}/archive/">Archive</a></div>
                    <div class="social">
<!--                        {% if site.social.tumblr != null %}
                        <a class="social-icon" href="{{ site.tumblr }}"><span class="fa fa-tumblr"></span></a>
                        {% endif %}-->
                        {% if site.social.twitter != null %}
                        <a class="social-icon" href="{{ site.social.twitter }}"><span class="fa fa-twitter"></span></a>
                        {% endif %}
                        <script type="text/javascript" language="javascript">
                        <!--
                        // Email obfuscator script 2.1 by Tim Williams, University of Arizona
                        // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
                        // This code is freeware provided these four comment lines remain intact
                        // A wizard to generate this code is at http://www.jottings.com/obfuscator/
                        { coded = "PAzf.AwK@TCzyK.BrC"
                          key = "MXbVK8OP2S3k1nchx5i0YZNUjWGRqJFfBoI7yadgQuwmeLH6lDsrt4AzETp9vC"
                          shift=coded.length
                          link=""
                          for (i=0; i<coded.length; i++) {
                            if (key.indexOf(coded.charAt(i))==-1) {
                              ltr = coded.charAt(i)
                              link += (ltr)
                            }
                            else {     
                              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                              link += (key.charAt(ltr))
                            }
                          }
                        document.write("<a class='social-icon' href='mailto:"+link+"'><span class='fa fa-envelope'></span></a>")
                        }
                        //-->
                        </script>
                        <a class="social-icon" href="{{ site.url }}/atom.xml"><span class="fa fa-rss"></span></a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>